body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  height: 750px;
  margin: auto;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

.cell {
  width: 100%;
  display: flex;
  flex-direction: row;

  &.skinny {
    width: 100%;
  }
}

.video-container {
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.explainer {
  width: 100%;
  margin: 24px auto;
}

.card {
  width: 100%;
  padding: 10px 128px;
  text-align: left;
  height: 95%;
  display: flex;
  flex-direction: row;
}

p {
  text-align: left;
  margin: 0 8px;
  font-family: "Palatino";

  &.label {
    padding-bottom: 4px;
  }

  &.copy {
    padding: 12px;
  }

  &.italic {
    font-style: italic;
    text-align: center;
    //text-decoration: underline;
  }
}

tspan {
  text-align: left;
  vertical-align: center;

  &.label-head {
    font-size: 14px;
    padding-left: 12px;
    padding-top: 12px;
    color: gray;
  }

  &.label {
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px;
  }

  &.author {
    font-size: 14px;
    color: gray;
    font-weight: 300;
  }
}

img {
  position: relative;
  left: 0;
  border-radius: 8px;

}
button {
  border-width: 0px;
  background-color: white;
  height: 170px;
  &.isActive {
    background-color: #73be73;
    border-radius: 8px;
  }

  &.mystery {
    height: 210px;
    margin: 24px;
  }

  &.choice {
    height: 80px;
    background-color: #ca80e9;
    border-radius: 8px;
    color: white;
    font-size: 16px;

    &.isActive {
      background-color: #d3d3d3;
      pointer-events: none;
      text-decoration: line-through;

      &.right {
        background-color: #8800c7;
        text-decoration: none;
      }
    }

    &.isActive:hover {
      border: none;
    }
  }

  &.choice:hover {
    border-width: 1px;
    border-color: gray;
    box-shadow: 0;
    background-color: #b44de0;
  }
}

.textbox {
  width: 75%;
  vertical-align: center;
  margin: 0px auto;
  border: solid;
  border-color: #800080;
  background-color: #e9d3ff;
  border-width: 0px;
  border-radius: 12px;

  &.tall {
    height: 170px;
    width: 100%;
    margin: 0 auto;
  }

  &.long  {
    height: 64px;
  }
}

.arrow {
  height: 50px;
  background: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 4px;
}

.column {
  flex: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
}

.table {
  height: 75%;
  width: 90%;
  margin-left: 5%;
}

footer {
  bottom: 0;
  top: auto;
  display: block;
  position: absolute;
  width: 100%;
}

h1 {
  margin: 8px;
  font-size: 20px;
  font-family: "Palatino";

  &.big {
    font-size: 84px;
  }
}

.title-card {
  background-image: url("./Images/bj_background.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.title {
  color: white;
  width: 100%;
  padding: 10px 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

h3 {
  font-family: Calibri, sans-serif;
  font-size: 24px;
  font-weight: 500;

  &.byline {
    font-size: 18px;
    margin-top: -6px;
    color: #d3d3d3 ;
  }

  &.subtitle {
    font-family: "Palatino";
  }
}

.choice_button {
  width: 200px;
}

path {
    stroke: black;
    stroke-width: 2px;
    fill: none;

}
